body{
	background:#ffffff;
}


.box1{
	width: 400px;
	height: 275px;
	text-align: left;
	margin: 40px auto;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #333333;/*文字色*/
    background: #dddddd;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    line-height:0px;
}

/* チェックボックス01 */
.checkbox01 {
	text-align: right;
}

.text
{
    font-size:30px;
}

.text2
{
    line-height:10px;
}

.question {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #3595fd;/*色*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #007dd2;/*線色*/
}

.question:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

